@page
@model IndexModel
@{
    ViewData["AccountTitle"] = "صفحه اصلی";
    Layout = "_AccountLayout";
}

<div class="page main-signin-wrapper bg-primary construction">

    <div class="container ">
        <div class="construction1 text-center details text-white">
            <div class="">
                <img src="/assets/img/brand/logo-light.png" class="mb-5" alt="logo">
                <h4 class="text-center text-white tx-30 font-weight-bold ">تو لایق بهترین رزومه ای که دیده بشی !</h4>
                <p class="text-white-50 tx-15">ما بهت کمک میکنیم که رزومه خودتو بسازی و تو این مسیر همراهتیم</p>

                <a href="/Resumes/Resume" class="btn ripple alert alert-primary btn-lg btn-block" style=" background-color: #d6e0ff;margin-bottom:12%;margin-top:2%">بزن بریم</a>
            </div>
            <div class="text-center">رزومه ساز<a class="text-white-50"> BehinAfzarCV </a>AmirKharazi</div>
        </div>
    </div>

</div>