<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<title>بهین افزار رزومه || @ViewData["AccountTitle"]</title>

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
	<meta name="author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">

	<!-- Favicon -->
	<link rel="icon" href="/assets/img/brand/favicon.ico" type="image/x-icon" />


	<!-- Bootstrap css-->
	<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Icons css-->
	<link href="/assets/plugins/web-fonts/icons.css" rel="stylesheet" />
	<link href="/assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/plugins/web-fonts/plugin.css" rel="stylesheet" />

	<!-- Style css-->
	<link href="/assets/css-rtl/style.css" rel="stylesheet">
	<link href="/assets/css-rtl/skins.css" rel="stylesheet">
	<link href="/assets/css-rtl/dark-style.css" rel="stylesheet">
	<link href="/assets/css-rtl/colors/default.css" rel="stylesheet">

	<!-- Color css-->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="/assets/css-rtl/colors/color.css">
	<style>
		body {
			font-family: IRANSans,'IRANSans',iransans,tahoma,Geneva,sans-serif !important;
		}
	</style>
</head>

<body class="main-body leftmenu">

	<!-- Loader -->
	<div id="global-loader">
		<img src="/assets/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<!-- End Loader -->
	<!-- Page -->
	<div class="page main-signin-wrapper">

		<!-- Row -->
		@RenderBody()
		
		<!-- End Row -->

	</div>
	<!-- End Page -->
	<!-- Jquery js-->
	<script src="/assets/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap js-->
	<script src="/assets/plugins/bootstrap/js/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Select2 js-->
	<script src="/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Custom js -->
	<script src="/assets/js/custom.js"></script>

</body>
</html>