@inject _0_FrameWork.FW.Infrastrure.IResumeSession _resumesession;
@{
    var resumeID = _resumesession.GetResumeId(SessionName.ResumeIdSession);
}

<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="index.html">
            <img src="/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo" alt="logo">
            <img src="/assets/img/brand/icon-light.png" class="header-brand-img icon-logo" alt="logo">
            <img src="/assets/img/brand/logo.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
            <img src="/assets/img/brand/icon.png" class="header-brand-img icon-logo theme-logo" alt="logo">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">

            <li class="nav-header"><span style="color:white" class="nav-label">اطلاعات رزومه</span></li>

            <li class="nav-item active">
                <a style="background-color:transparent" class="nav-link" href="/Resumes/Resume"><i class="ti-home sidemenu-icon"></i><span style="color:white" class="sidemenu-label">رزومه های من</span></a>
            </li>
            <li class="nav-item">
                <a style="background-color:transparent" class="nav-link" href="/Resumes/Panel/@resumeID"><i class="ti-briefcase sidemenu-icon"></i><span style="color:white" class="sidemenu-label">اطلاعات کاربری</span></a>
            </li>

            <li class="nav-item">
                <a style="background-color:transparent" class="nav-link" href="/Resumes/Panel/Skill/@resumeID"><i class="ti-briefcase sidemenu-icon"></i><span style="color:white" class="sidemenu-label">مهارت ها</span></a>
            </li>

            <li class="nav-item">
                <a style="background-color:transparent" class="nav-link" href="/Resumes/Panel/Education/@resumeID"><i class="ti-pencil-alt sidemenu-icon"></i><span style="color:white" class="sidemenu-label">سوابق تحصیلی</span></a>
            </li>

            <li class="nav-item">
                <a style="background-color:transparent" class="nav-link" href="/Resumes/Panel/Experience/@resumeID"><i class="ti-agenda sidemenu-icon"></i><span style="color:white" class="sidemenu-label">سوابق شغلی</span></a>
            </li>



        </ul>
    </div>
</div>

